@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --black-color: #070911;
  --white-color: #f9fafb;
  --light-white: #fcfcfc;
  --white-trans-color: #f9fafb78;
  --gray-color: #808080;
  --lightgray-color: #d9d9d9;
  --blue-color: #5968b2;
  --pink-color: #f441a5;
  --light-blue-color: #759fc7;
  --green-color: #68b8b1;
  --yellow-color: #ffeb3b;
  --circle-color-1: #a3abd4;
  --circle-color-2: #f6f7fb;
  --circle-color-3: #edeef6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: var(--white-color);
}

.app {
  max-width: 200rem;
  max-height: 100rem;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: grid;
  grid-template-columns: 38rem 4fr;
  font-family: "Syne", sans-serif;
}

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(239, 230, 228, 0.5);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1rem);
  transition: all 0.3s;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}

.modal-box-active {
  visibility: visible;
  opacity: 1;
}

.modal-container {
  width: 90%;
  height: 90%;
  max-width: 175rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.5s;
}

.modal-box-active .modal-container {
  transform: translate(-50%, -50%) scale(1);
}

.modal-icon {
  position: absolute;
  top: 3rem;
  right: 3rem;
  padding: 1rem;
  border-radius: 10rem;
  backdrop-filter: blur(1rem);
  background-color: var(--white-trans-color);
  z-index: 1;
}

.item-active {
  border: 0.1rem solid var(--lightgray-color);
}

/* TICKET SECTION */

.ticket {
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 2rem;
  padding: 3rem;
  background-color: var(--light-white);
  box-shadow: rgba(89, 104, 178, 0.1) 0 0 1.6rem;
}

.ticket-header {
  height: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.logo-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ticket-name,
.ticket-job {
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(
    to right,
    var(--blue-color) 0%,
    var(--pink-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ticket-name {
  font-size: 3rem;
}
.ticket-job {
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
}

.ticket-img-box {
  background: linear-gradient(
    135deg,
    var(--light-blue-color) 0%,
    var(--green-color) 50%,
    var(--light-white) 100%
  );
  border-radius: 2rem;
}

.ticket-img-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.ticket-details-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

.ticket-profession-box,
.ticket-languages-box {
  width: 100%;
}

.ticket-profession-box > :not(:first-child),
.ticket-languages-box > :not(:first-child) {
  font-weight: 700;
  font-size: 1.6rem;
}

.ticket-profession-box a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.profession,
.languages {
  font-weight: 300;
  color: var(--gray-color);
  font-size: 1.6rem;
}
.ticket-social-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-languages {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.ticket-language {
  padding: 0.5rem;
  border: solid 0.1rem var(--lightgray-color);
  border-radius: 1rem;
}

.ticket-language img {
  width: 4rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.ticket-language p {
  font-size: 1.2rem;
  text-align: center;
}

.icons-box {
  width: fit-content;
  display: flex;
  gap: 2rem;
}

.icons-box a {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid var(--lightgray-color);
  border-radius: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}

.icons-box span {
  padding: 1rem;
  transition: all 0.2s;
}

.icons-box span svg {
  height: 3rem;
  width: 3rem;
  fill: var(--black-color);
}

.icons-box a:hover span {
  transform: translateY(-200%);
}

.content-box {
  width: 100%;
}

.main-box {
  position: relative;
  height: 100vh;
  max-height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
}

/* NAVIGATION */

.navigation-button {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  top: 6rem;
  right: 6rem;
  z-index: 200;
  text-align: center;
  cursor: pointer;
}

.navigation-icon::before,
.navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navigation-icon::before {
  top: -0.8rem;
}

.navigation-icon::after {
  top: 0.8rem;
}

.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: #333;
  transition: all 0.2s;
}

.navigation-icon {
  margin-top: 3.5rem;
  position: relative;
}

.navigation-background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(
    var(--light-white),
    var(--blue-color),
    var(--light-blue-color)
  );
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 100;
  transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  width: 0;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  width: 100%;
}

.navigation-link:link,
.navigation_link:visited {
  display: inline-block;
  font-size: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--blue-color);
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 300%;
  transition: all 0.5s;
}

.navigation-link:hover,
.navigation_link:active {
  color: var(--pink-color);
  background-position: 100%;
  transform: translateX(2rem);
}

.navigation-active .navigation-background {
  transform: scale(100);
  transition: transform 0.5s ease;
}

.navigation-active .navigation-nav {
  width: 100%;
  opacity: 1;
}

.navigation-active .navigation-button > .navigation-icon {
  background-color: transparent;
}

.navigation-active .navigation-button > .navigation-icon::before {
  transform: translateY(0.8rem) rotate(135deg);
}

.navigation-active .navigation-button > .navigation-icon::after {
  transform: translateY(-0.8rem) rotate(-135deg);
}
.box-darkmode {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.clickable {
  cursor: pointer;
}

.small-icon svg {
  display: grid;
  width: 2.4rem;
  height: 2.4rem;
  stroke-width: 1.5px;
  stroke: currentColor;
}
.big-icon svg {
  display: grid;
  width: 3.6rem;
  height: 3.6rem;
  stroke-width: 1.5px;
  stroke: currentColor;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
}

.title-section {
  font-size: 1.8rem;
  color: var(--gray-color);
  margin-bottom: 1rem;
}
.header-title {
  font-size: 8rem;
  line-height: 1.1;
  display: inline-grid;
}

.header-title span {
  background: linear-gradient(
    to right,
    var(--blue-color) 0%,
    var(--pink-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-list {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  list-style: none;
}
.header-list li {
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  transition: all 0.3s;
}
.header-list a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: inherit;
}

.header-list li:hover {
  box-shadow: rgba(89, 104, 178, 0.35) 0 0.5rem 1.5rem;
}

/* PORTFOLIO */
.secondary-title {
  width: fit-content;
  font-size: 4.5rem;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
}

.secondary-title span {
  background: linear-gradient(
    to right,
    var(--blue-color) 0%,
    var(--pink-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section,
footer {
  padding: 6rem;
}

.portfolio-projects-box {
  display: grid;

  gap: 6rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 6rem 0;
}
.portfolio-card {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: relative;
  background: radial-gradient(
    circle at 30% 100%,
    var(--blue-color) -6%,
    var(--circle-color-1) 16%,
    var(--circle-color-2) 60%,
    var(--circle-color-3) 98%
  );
  overflow: hidden;
}
.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.3s;
  display: block;
}

.portfolio-card:hover img {
  transform: scale(1.03);
}

.project-details {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--white-trans-color);
  backdrop-filter: blur(1rem);
}

.project-title {
  padding: 1rem 1.5rem;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(
    to right,
    var(--blue-color) 0%,
    var(--pink-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* PROJECT DETAILS */
.project-alldetails-container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  border-radius: 2rem;
  gap: 4rem;
  margin-top: 2rem;
  padding: 4rem;
  border: 0.1rem solid var(--lightgray-color);
}

.project-alldetails-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  background: radial-gradient(
    circle at 30% 100%,
    var(--blue-color) -6%,
    var(--circle-color-1) 16%,
    var(--circle-color-2) 60%,
    var(--circle-color-3) 98%
  );
  grid-column: 1 / 4;
  grid-row: 1 / -1;
}

.project-alldetails-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
}

.project-alldetails-tools {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  grid-column: 4 / -1;
}

.tool-small-box {
  display: flex;
  width: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--lightgray-color);
  border-radius: 2rem;
  background-color: var(--white-trans-color);
}
.tool-small-img {
  width: 50%;
}
.tool-small-name {
  font-size: 1.6rem;
}

.project-alldetails-description {
  font-size: 1.8rem;
  line-height: 1.5;
  grid-column: 4 / -1;
}

.project-alldetails-btns {
  display: flex;
  gap: 4rem;
  grid-column: 4 / -1;
}
/* ABOOUT ME */

.stats-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 6rem;
  margin-top: 6rem;
}
.stats-box div {
  display: grid;
  place-items: center;
  gap: 2rem;
  padding: 2rem;
  border: 0.1rem solid var(--lightgray-color);
  border-radius: 2rem;
  background-color: var(--white-trans-color);

  transition: transform 0.5s ease-out;
  will-change: transform;
}
.stats-box span {
  font-size: 9.8rem;
  line-height: 1;
}
.stats-box p {
  font-size: 2.2rem;
  text-align: center;
}

.about-me {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 6rem;
  row-gap: 4rem;
  margin: 6rem 0;
}

.about-me-text {
  display: grid;

  gap: 2rem;
}
.about-me-text p {
  font-size: 1.8rem;
}
.about-contact {
  display: grid;
  gap: 2rem;
}

.about-contact div > :first-child {
  font-weight: 300;
  color: var(--gray-color);
  font-size: 1.8rem;
}

.about-contact div > :nth-child(2) {
  font-weight: 700;
  font-size: 1.8rem;
}

/* RESUME */

.tertiary-title {
  width: fit-content;
  font-size: 3.2rem;
  background: linear-gradient(to right, #5968b2 0%, #f441a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4rem;
}

.resume p {
  font-size: 1.8rem;
}
.resume-text {
  margin-top: 4rem;
  font-size: 1.8rem;
}
.resume-section {
  display: grid;
  margin-top: 8rem;
  font-size: 1.8rem;
}
.resume-section > :nth-child(2) {
  border-top: 0.1rem solid var(--lightgray-color);
}
.resume-box {
  display: grid;
  grid-template-columns: 2fr 1fr 4fr 5fr;
  align-items: center;
  gap: 3rem;
  padding: 4rem 0;
  border-bottom: 0.1rem solid var(--lightgray-color);
}

.resume-box img {
  width: 6.5rem;
  border-radius: 100%;
  border: solid 0.1rem var(--lightgray-color);
  height: auto;
  justify-self: end;
}
.resume-details p:first-child {
  font-weight: 500;
}
.resume-details p:last-child {
  color: var(--gray-color);
}

.tools-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 4rem;
  margin-bottom: 6rem;
  border-top: none !important;
}

.tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border: 0.1rem solid var(--lightgray-color);
  border-radius: 2rem;
  background-color: var(--white-trans-color);
  transition: transform 0.5s ease-out;
  will-change: transform;
}

.tool img {
  width: 50%;
  height: auto;
}

/* TESTIMONIALS */

.testimonials-box {
  margin-top: 6rem;
  margin-bottom: 2rem;
  border: 0.1rem solid var(--lightgray-color);
  border-radius: 2rem;
  overflow-x: hidden;
}

.testimonials-box > div {
  display: flex;
}

.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
  background-color: var(--white-trans-color);
}
.testimonial-user {
  display: flex;
  gap: 2rem;
}

.testimonial-user img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem;
}

.testimomial-user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-stars {
  display: flex;
}

.user-name {
  font-size: 2rem;
  font-weight: 700;
}
.user-profession {
  font-size: 1.6rem;
}

.user-country {
  font-size: 1.6rem;
  color: var(--gray-color);
  margin-bottom: 1rem;
}

.testimonial > p {
  font-size: 1.8rem;
}
.link-btn {
  width: fit-content;
  display: flex;
  gap: 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  transition: all 0.3s;
}

.link-btn svg {
  transform: rotate(-45deg);
  transition: all 0.3s;
}

.link-btn:hover.link-btn svg {
  transform: rotate(0);
}

.link-btn:hover {
  box-shadow: rgba(89, 104, 178, 0.35) 0px 5px 15px;
}

.testimonials-buttons {
  display: flex;
  gap: 1rem;
}

.testimonials-buttons button {
  padding: 2rem;
  border: 0.1rem solid var(--lightgray-color);
  border-radius: 10rem;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}

.testimonials-button button:hover {
  box-shadow: rgba(89, 104, 178, 0.35) 0px 5px 15px;
}

/* FORM */
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 6rem;
}
.form input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 0.1rem solid var(--gray-color);
  background: none;
  outline: none;
  font-family: inherit;
  font-size: 1.8rem;
}

.form input:focus {
  border-bottom: 0.2rem solid var(--black-color);
}
.form input::-webkit-input-placeholder {
  color: var(--lightgray-color);
}

.form textarea {
  grid-column: 1/-1;
  height: 15rem;
  padding: 1rem;
  border: none;
  border-bottom: 0.1rem solid var(--gray-color);
  background: none;
  outline: none;
  resize: none;
  font-family: inherit;
  font-size: 1.8rem;
}
.form textarea:focus {
  border-bottom: 0.1rem solid var(--black-color);
}
.form textarea::-webkit-input-placeholder {
  color: var(--lightgray-color);
}

.message-send {
  font-size: 2rem;
  justify-self: center;
}
.message-send .success {
  color: var(--blue-color);
}
.message-send .error {
  color: var(--pink-color);
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8rem;
}

.footer span,
.footer a {
  color: var(--pink-color);
}

/* BLOG SECTION */

.blog-container,
.projects-container {
  position: relative;
  height: 100%;
  max-width: 175rem;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  overflow-y: scroll;
}

.blog-cards,
.projects-cards {
  display: grid;
  gap: 4rem;
  margin-top: 2rem;
  padding: 4rem;
  border: 0.1rem solid var(--lightgray-color);
  border-radius: 2rem;
}

.blog-card,
.projects-card {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}
.blog-card img,
.projects-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  backface-visibility: hidden;
  will-change: transform;
}
.blog-card:hover img,
.projects-card:hover img {
  transform: scale(1.03);
}

.blog-details,
.projects-details {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--white-trans-color);
  backdrop-filter: blur(1rem);
}

.blog-title,
.blog-part,
.projects-title {
  padding: 1rem 1.5rem;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  background: linear-gradient(
    to right,
    var(--blue-color) 0%,
    var(--pink-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  background-color: var(--light-white);
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}
.blog-text-resume {
  overflow: hidden;
}

.blog-text-paragraph {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.3;
}

.blog-text.blog-text-active {
  transform: translateY(0%);
}

.blog-fulltext-container,
.project-details-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6rem;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.blog-fulltext-container.blog-fulltext-container-active,
.project-details-container.project-details-container-active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.blog-fulltext-box {
  column-count: 3;
  column-gap: 6rem;
  column-rule: 0.1rem dashed var(--pink-color);
  margin: 4rem 0;
}

.blog-fulltext {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.3;
  margin-bottom: 4rem;
}

.fulltext-icon,
.project-details-icon {
  position: sticky;
  top: 0;
  right: 0;
  align-self: flex-end;
  padding: 1rem;
  border-radius: 10rem;
  backdrop-filter: blur(1rem);
  background-color: var(--white-trans-color);
}

.blog-text::-webkit-scrollbar,
.blog-container::-webkit-scrollbar,
.blog-fulltext-container::-webkit-scrollbar,
.projects-container::-webkit-scrollbar,
.project-details-container::-webkit-scrollbar {
  width: 0.4rem;
}
.blog-text::-webkit-scrollbar-thumb,
.blog-container::-webkit-scrollbar-thumb,
.blog-fulltext-container::-webkit-scrollbar-thumb,
.projects-container::-webkit-scrollbar-thumb,
.project-details-container::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 6px;
}
.blog-text::-webkit-scrollbar-track,
.blog-container::-webkit-scrollbar-track,
.blog-fulltext-container::-webkit-scrollbar-track,
.projects-container::-webkit-scrollbar-track,
.project-details-container::-webkit-scrollbar-track {
  background-color: var(--light-white);
}

/* PROJECTS */

.projects-card img {
  background: radial-gradient(
    circle at 30% 100%,
    var(--blue-color) -6%,
    var(--circle-color-1) 16%,
    var(--circle-color-2) 60%,
    var(--circle-color-3) 98%
  );
}
/*//////////////////////////////////////////////////////*/

/* GENERALS */

.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.overflow-y-scroll {
  overflow-y: scroll;
}
.overflow-x-hidden {
  overflow-x: hidden;
}

/* VIOLET BUTTON */

.btn-violet {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 1.8rem;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--blue-color),
    var(--pink-color),
    var(--yellow-color),
    var(--blue-color)
  );
  background-size: 300%;
  border-radius: 2rem;
  z-index: 1;
}

.btn-violet:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.btn-violet:before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  z-index: -1;
  background: linear-gradient(
    90deg,
    var(--blue-color),
    var(--pink-color),
    var(--yellow-color),
    var(--blue-color)
  );
  background-size: 400%;
  border-radius: 3.5rem;
  transition: 1s;
}

.btn-violet:hover::before {
  filter: blur(2rem);
}

.btn-violet:active {
  transform: scale(0.98);
}

/* CIRCLES */

.big-circle {
  position: fixed;
  top: -24rem;
  right: -2rem;
  width: 60rem;
  height: 60rem;
  border-radius: 100%;
  background: radial-gradient(
    circle at 30% 100%,
    var(--blue-color) -6%,
    var(--circle-color-1) 16%,
    var(--circle-color-2) 60%,
    var(--circle-color-3) 98%
  );
  filter: blur(1rem);
  z-index: -1;
  animation: randomFloatCircle 15s ease-in-out 2s infinite;
}

.small-circle {
  position: fixed;
  bottom: 0;
  left: -10rem;
  width: 40rem;
  height: 40rem;
  border-radius: 100%;
  background: radial-gradient(
    circle at 30% 100%,
    var(--blue-color) -6%,
    var(--circle-color-1) 16%,
    var(--circle-color-2) 60%,
    var(--circle-color-3) 98%
  );
  filter: blur(1rem);
  z-index: -1;
  animation: randomFloatCircle 15s ease-in-out 2s infinite;
}
/* ANIMATIONS */

@keyframes randomFloatCircle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2rem, -1rem);
  }
  50% {
    transform: translate(-3rem, 2rem);
  }
  75% {
    transform: translate(1rem, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 56.25%;
  }

  .tools-box {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  .blog-cards,
  .projects-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1200px) {
  .main-box {
    padding: 4rem;
  }

  .section,
  footer {
    padding: 4rem;
  }

  .portfolio-projects-box {
    grid-template-columns: 1fr;
  }

  .header-title {
    font-size: 6.5rem;
  }

  .stats-box {
    gap: 3rem;
  }

  .project-alldetails-img {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  .project-alldetails-tools {
    grid-column: 4 / -1;
  }
  .project-alldetails-description {
    grid-column: 1 / -1;
  }
  .project-alldetails-btns {
    grid-column: 4 / -1;
    grid-row: 2/3;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }

  body {
    height: auto;
    display: block;
  }
  .app {
    display: block;
  }
  .ticket {
    position: static;
    transform: translateY(0);
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 3rem;
  }

  .header {
    margin-top: 30rem;
  }

  .main-box {
    height: auto;
  }

  .blog-container,
  .blog-fulltext-container,
  .projects-container,
  .project-details-container {
    padding: 6rem;
  }

  .blog-cards,
  .projects-cards {
    grid-template-columns: 1fr;
  }
  .blog-fulltext-box {
    column-count: 1;
  }

  .project-alldetails-container {
    padding: 3rem;
    gap: 3rem;
  }

  .project-alldetails-img {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
  }
  .project-alldetails-tools {
    grid-column: 1 / -1;
  }
  .project-alldetails-btns {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 600px) {
  .secondary-title {
    font-size: 3.8rem;
  }

  .ticket-box {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .ticket {
    display: flex;
    width: 95%;
    height: 95vh;
    margin: 0;
  }
  .ticket-img-box {
    height: 100%;
    min-height: 50%;
    align-self: center;
  }
  .ticket-language img {
    width: 7rem;
    height: 4.5rem;
  }
  .icons-box {
    justify-content: space-around;
  }

  .main-box {
    padding: 5rem 3rem;
  }

  .header-title {
    font-size: 5rem;
  }
  .section,
  footer {
    padding: 5rem 3rem;
  }

  .portfolio-projects-box {
    gap: 3rem;
  }
  .blog-cards,
  .projects-cards {
    padding: 2rem;
  }

  .portfolio-card {
    width: 100%;
    height: 100%;
  }

  .stats-box {
    grid-template-columns: 1fr;
    justify-content: normal;
  }

  .about-me {
    grid-template-columns: 1fr;
  }

  .resume-box {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .resume-box p {
    grid-column: 1/-1;
  }

  .resume-box img {
    width: 10rem;
  }
  .resume-details {
    grid-column: 2/-1;
  }
  .resume-description {
    grid-column: 1/-1;
  }

  .tools-box {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }

  .form {
    grid-template-columns: 1fr;
  }

  .footer {
    flex-direction: column;
    gap: 2rem;
  }

  .blog-container,
  .blog-fulltext-container,
  .projects-container,
  .project-details-container {
    padding: 3rem;
  }
  .project-alldetails-container {
    padding: 2rem;
  }

  .big-circle {
    top: -14rem;
    width: 40rem;
    height: 40rem;
  }

  .small-circle {
    left: -2rem;
    width: 20rem;
    height: 20rem;
  }
}
